<p>
  <b>Description:</b>
  <%= task.description %>
  <br>

  <b>Due Date:</b>
  <%= task.due_date %>
  <br>

  <b>Status:</b>
  <%= task.status %>
</p>

<p>
  <%= link_to 'Destroy Task', [task.category, task],
              confirm: 'Are you sure?',
              method: :delete %>
</p>
