.card
  .card-body
    %p
      %b Task:
      = task.description
    %p
      %b Due Date:
      = task.due_date
    %p
      %b Status:
      = task.status
    = button_to 'Destroy', [task.category, task], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
