%h1 Edit Category
= render 'form', category: @category
.btn-group
  = button_to 'Show', @category, method: :get, class: "btn btn-primary"
  = button_to 'Back', categories_path, method: :get, class: "btn btn-warning"
