/ A grey horizontal navbar that becomes vertical on small screens
%nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.fixed-top
  .container-fluid
    %a.navbar-brand{:href => "#"} Journal
    %button.navbar-toggler{"data-bs-target" => "#collapsibleNavbar", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #collapsibleNavbar.collapse.navbar-collapse
      %ul.navbar-nav
        - if current_user
          %li.nav-item
            %a.nav-link{:href => "/categories"} Categories
          %li.nav-item
            %a.nav-link{:href => "/categories/new"} New Category
          %li.nav-item
            %a.nav-link{"data-method" => "delete", :href => "/users/sign_out", :rel => "nofollow", data: { confirm: 'Are you sure you want to sign out?' } } Sign Out
        - else
          %li.nav-item
            %a.nav-link{:href => "/users/sign_up"} Sign Up
          %li.nav-item
            %a.nav-link{:href => "/users/sign_in"} Sign In
